* {
  box-sizing: border-box;
}


body {
  padding: 24px;
  font-family: "Montserrat-Regular", "Montserrat", sans-serif;
  color:#515076
}


.product-name {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  list-style-type: none;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  margin-bottom: 5px;
}

.product-card {
  width: 465px;
  margin-bottom: 10px;
  padding: 45px 15px;
  background-color: #F7F7FA;
}

.product-card__name-product {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}



.title {
  margin-top: 220px;
  margin-bottom: 110px;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  color: #515076;
  }

.image {
  margin: 25px;
}

.background-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 85px;
}

.product-card__category {
  list-style-type: none;
  text-align: left;
  text-transform: uppercase;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400; 
}

.product-card__description {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 5px;
}

.compound {
  font-weight: 400;
  font-size: 13px;
}

.compound-text {
font-weight: 400;
font-size: 13px;

}

.product-card__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price-value {
  font-size: 20px;
  font-weight: normal;
}

.this-button-color {
  background-color: #515076;
}


  
